body {
  background-color: rgba(255, 235, 205, 0.24);
}

.container {
  margin: auto;
  max-width: 900px;
}
.row > * {
  margin-top: var(--bs-gutter-y);
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
.arrow {
}
.thumbnails {
  display: flex;
  flex-direction: column;
}
.thumbnails img {
  max-width: 86%;
}

img {
  max-width: 100%;
}
