body {
  background-color: rgba(255, 235, 205, 0.24);
}

.container {
  margin: auto;
  max-width: 900px;
}
.row > * {
  margin-top: var(--bs-gutter-y);
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}

.thumbnails {
  display: flex;
  flex-direction: column;
  position: relative;
}
.thumbnails img {
  max-width: 86%;
}

img {
  max-width: 100%;
}
.arrow {
  position: absolute;
  flex-direction: column;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  margin: 5rem;
  /* background-color: transparent; */
}
